/* Generals */

header {
  height: 70px;
  background-color: rgb(6, 19, 31);
  padding: 10px 100px;
}

main {
  background-color: rgb(29, 45, 60);
  padding: 40px 0;
}

.container {
  max-width: 1080px;
}

img {
  max-width: 100%;
  display: block;
}

/* Header */

header figure {
  height: 100%;
  width: 80px;
  margin: 0;
}

header figure img {
  max-height: 100%;
  max-width: auto;
}

/* Main */

.cs-card {
  background-color: rgb(17, 32, 48);
  height: 400px;
  color: white;
  text-align: center;
  padding: 40px 30px;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cs-card figure {
  width: 70%;
  flex-shrink: 1;
}

.cs-card h6 {
  font-weight: 300;
}

.card-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 15px;
  cursor: default;
}

.overlay-info {
  background-color: rgba(17, 32, 48, 0.9);
  height: 100%;
  width: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-info .cs-card {
  padding: 0;
  width: 30%;
  cursor: default;
  background-color: transparent;
}
